<launch>
    <!-- <node pkg="image_transport" type="republish" name="compressed_to_image_raw" args="compressed in:=/econ_cam_1/image_raw raw out:=/image_raw"/> -->
    <node pkg="image_proc" name="rectification" type="image_proc">
        <remap from="image_raw" to="/camera/color/image_raw"/>
        <remap from="camera_info" to="/camera/color/camera_info"/>
    </node>
    <node pkg="topic_tools" type="relay" name="pipe_camera_info" args="/camera/color/camera_info"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 velodyne camera_color_optical_frame"/>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find cam2lidar)/launch/calib_check.rviz"/>

</launch>